<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Simple Request Server</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <body>        
      <h1>Choose session secret</h1>        

      <form method="POST" >
        <input type="text" name="chosen-session-secret" value="">
        <input type="submit" value="I choose this secret" />
      </form>
    </body>
</html>