<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Simple Request Server</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <body>        
      <h1>Pick the secret</h1>        

      <ul id="secrets">
        <li id="idsecret">I am id secret</li>
        <li class="pairsecret">I am big brother secret</li>
        <li class="pairsecret">I am little brother secret</li>
        <li style="color: red">I am red secret</li>
      </ul>

      <h3>I am big secret</h3>
    </body>
</html>